html{
    font-size: 100%;
}

.header{
    background-color: #227093;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 3rem;
}

.navbar a{
    margin-right: 2rem;
    font-size: larger;
}

.main{
    
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}

.sub-main{
    padding: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;

}

.footer{
    background-color:#eb3b5a;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

.sidebar{
    background-color: #227093;
    flex-basis: 40%;
    text-align: center;
    border-radius: 1rem;
    padding-top: 9rem;
    font-size: 3rem;
    font-weight: bold;
}

.boxes{
    background-color: #227093;
    padding: 1rem;
    flex-basis: 50%;
    border-radius: 1rem;
   
}

.row{
    background-color: #7158e2;
    padding:1rem;
    margin-bottom: 1rem;
    display: flex;
}

.box{
    background-color: #227093;
    display: flex;
    margin: 1rem;
    flex-grow: 1;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 1rem;
}

.small-box{
    background-color: #eb3b5a;
    padding: 1rem;
    border-radius: 1rem;
    
}

.text{
    background-color: #eb3b5a;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title{
    text-align: center;
    font-weight: bold;
}

.countainer{
    background-color: #227093;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
}

.items{
    margin: 1rem;
    background-color: #eb3b5a;
    display: flex;
    justify-content: center;
   
}

.position-test{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);    
}

.position-test1{
   background-color: #227093;
   padding-left: 1rem;
   padding-right: 1rem;
    border-radius: 1rem;
    
}

.button{
    background-color: #eb3b5a;
    border-radius:1rem;
    padding: 0.5rem;
    position: relative;
    bottom: 2rem;
    left: 13rem
   
    
}

.countainer1{
    width: 1200px;;
    margin:0 auto;
}

.form{
    margin-top: 2rem;
}

.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: brown;
    margin-bottom: 1 rem;
}
.form label{
    font-weight: bold;
}
.form label , .form input{
    display: block;
    border-radius:4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form input.form-control{
    width: 100%; 
}

::placeholder{
    color: red;
 }

.checkbox{
    position: relative;
}
.checkbox input{
    display: none;
    
 }

.checkmark{
    height: 25px;
    width: 25px;
    background-color: #7158e2;
    position: absolute;
    margin-left:1rem;
    border-radius: 3px;
}


.checkbox :hover.checkmark{
   background-color: slategray;
}

.checkbox input:checked ~ .checkmark {
  background-color: #eb3b5a;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 5px;
  height: 10px;
  border: solid white;
  top: 5px;
  right: 8px;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.form input:focus{
  background: salmon
}

.btn{
    border-style: dashed;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
    background-color: #eb3b5a;
}


